body {
    background: rgb(236, 236, 236);
    margin: 0;
}
main {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}
aside {
    flex: 25%;
    padding: 20px;
    flex-wrap: wrap;
    padding: 10px;
    border-right: 5px solid rgb(35, 83, 35);
}
aside h1 {
    text-align: end;
    margin: 20px;
    font-size: 200%;
}
section {
    flex: 75%;
    padding: 20px;
}
.project-section {
    display: flex;
    flex-wrap: wrap;
}
.main-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background:rgb(78, 72, 52);
}
.main-heading h1 {
    font-size: 350%;
    color: rgb(255, 255, 255);
    padding: 20px;
}
.nav-ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    list-style: none;
}
.nav-a {
    color: rgb(255, 255, 255);
    font-weight: bold;
}
.section-contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
}
.profpic {
    position: relative;
    width: 42%;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.background-wood-art {
    position:absolute;
    z-index: -1;
    display: block;
    width: 100%;
}
.project-section img, a {
    width: 100%;
}
.card-prework {
    width: 100%;
    text-align: center;
    display: flex;
    flex: wrap;  
}
.card {
    text-align: center;
    border-style: solid;
    border-width: 1px;
    width: 50%;
    display: flex;
    flex: wrap;
}
div h3 {
    padding: 0.5em;
    background:rgb(35, 83, 35);
    color:rgb(255, 255, 255);
    position: absolute;
}
